<%- include('partials/student-header', { title: 'Student Search Results', headerTitle: 'Student Search Results'   }) %>


  <main class="container mt-5" style="height: 550px;">
    <h1 class="mb-4 text-dark">Pending Peer Assessments</h1>
    <div class="notification-box">
      <% if (incompleteAssessments && incompleteAssessments.length > 0) { %>
        <ul class="list-group">
          <% incompleteAssessments.forEach(assessment => { %>
            <li class="list-group-item">
              You need to review <b><%= assessment.evaluatee_name %></b>.
            </li>
          <% }); %>
        </ul>
        <div class="mt-4">
          <a href="/peer-assessment" class="btn btn-warning">Go to Peer Assessment</a>
        </div>
      <% } else { %>
        <p class="text-success">No pending peer assessments. Great job!</p>
      <% } %>
    </div>
  </main>





<%- include('partials/footer') %>




