<%- include('partials/header', { title: 'Instructor Dashboard' }) %>
<nav>
    | <a href = "/createTeams"> Create Teams</a>|
    | <a href = "/view-teams"> View Created Teams</a>|
    | <a href = "/logout"> Logout</a>|
</nav>
<%- include('partials/footer') %>