
<%- include('partials/header', { title: 'Log In' }) %>
<div class="container">
  <div class="d-flex align-items-center justify-content-center py-5 bg-body-tertiary">
    <form action="/login" method="POST">
      
      <div>
        <h1 class="h3 mb-3 fw-normal">Welcome back, please log in</h1>
      </div>

      <div class="form-floating my-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Username">
        <label for="username" for="floatingInput">Username</label>
      </div>

      <div class="form-floating my-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="my-4">
      <button class="btn btn-primary w-100 py-2" type="submit">Log in</button>
      </div>

    </form>
</div>
</div>
<%- include('partials/footer') %>
