
<table>
    <caption><%= Team[0].group_name %></caption>
    <tr>
        <th>Student name</th><th>Student ID</th>
    </tr>
<% for(var i = 0; i < Team.length; i++) { %>
    <tr>
        <td><%= StudentArr[i].name %></td>
        <td><%= StudentArr[i].id %></td>
    </tr>
<% } %>
</table>