<% for(var i = 0; i < Teams.length; i++) { %>
    <% if(i == 0 || Teams[i].group_name != Teams[i - 1]) { %>
        <table>
            <caption> <%= Teams[i].group_name %> </caption>
            <tr>
                <th>Student Name</th><th>Student ID</th>
            </tr>
    <% } %>
        <tr>
            <td><%= Teams[i].name %></td><td><%= Teams[i].id %></td>
        </tr>
    <% if(i + 1 == Teams.length || Teams[i].group_name != Teams[i + 1]) { %>
    </table>
    <% } %>
<% } %>